*{
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}
body{
    min-width: 1280px;
    overflow: scroll;
}
/*有关于导航栏*/
header{
    top: 0;
    background: white;
    height: 54px;
    width: 100%;
    z-index: 5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#logo-text{
    font-size: 20px;
    margin: auto 0;
    padding: 10px 5px;
    position: relative;
    bottom: 5px;
}
#logo{
    height: 32px;
    width: 32px;
    padding-left: 60px;
    padding-top: 10px;
}
#nav-div{
    float: right;
}
.title{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
    display: inline-block;
}
.title:hover{
    color: #d45d5c;
    border-bottom: 5px solid #d45d5c;
}
.title{
    font-size: 14px;
    padding: 18px 30px 10px 30px;
    color: #999;
    cursor: pointer;
    transition: border-bottom 0.3s;
    border-bottom: 0px solid #d45d5c;
}

/*第一个部分*/
#part_0{
    position: relative;
    height: calc(100vmin - 54px);
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
#part_0 div.background{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/img01.jpg);
    background-size: cover;
    -webkit-filter: brightness(0.8);
    -moz-filter: brightness(0.8);
    -o-filter: brightness(0.8);
    -ms-filter: brightness(0.8);
    filter: brightness(0.8);
    z-index: -1;
}
