
/*有关于导航栏*/
.top{
    position: fixed;
    top: 0;
    background: white;
    height: 54px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    min-width: 800px;
    z-index: 5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.top img.logo{
    height: 32px;
    width: 32px;
    padding-left: 60px;
    padding-top: 10px;
}

.top span.space{
    -webkit-flex: 1;
    flex: 0.9;
}
.top span.title{
    padding-left: 10px;
    padding-top: 30px;
    font-size: 20px;
}
.top div.tab, .top div.title:hover{
    color: #ec0000;
    border-bottom: 5px solid #ec0000;
}
.top div.title{
    font-size: 14px;
    padding: 20px 30px;
    color: #999;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 0px solid #ec0000;
}

/*第一个部分*/
.part_0{
    position: relative;
    height: calc(100vmin - 54px);
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.part_0 div.background{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/img01.jpg);
    background-size: cover;
    -webkit-filter: brightness(0.8);
    -moz-filter: brightness(0.8);
    -o-filter: brightness(0.8);
    -ms-filter: brightness(0.8);
    filter: brightness(0.8);
    z-index: -1;
}