*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
th {
    color: white;
    background: black;
}

tr:nth-child(4), tr:nth-child(2), tr:nth-child(3){
    color: red;
}
tr:nth-child(3), tr:nth-child(5), tr:nth-child(7),tr:nth-child(9), tr:nth-child(11){
    background-color: lightgray
}

#website {
    text-align: left;
}

#input-text {
    margin-top: 20px;
    width: 100px;
    -webkit- transition: width 2s ;
   transition: width 2s ;
}
#input-text:focus{
    width: 200px;
}
#div-banner {
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin-top: 50px;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: yellow;
}
#one:target~.banner{
    left: 0;
}
#two:target~.banner{
    left: -100%;
}
#three:target~.banner{
    left: -200%;
}
.banner-item {
    height: 300px;
    width: 400px;
    display: inline-block;
    float: left;    
}

.controller-wrap {
    position: absolute;
    top:580px;
    left:295px;
}
.controller-item {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    background: rgba(255,255,255,0.3)
}

.banner {
    position: relative;
    left: 0;
    width: 300%;
    transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out; 
	-webkit-transition: left 1s ease-in-out; 
}
