*{
    margin: 0;
    padding: 0;
}
th {
    color: white;
    background: black;
}

tr:nth-child(4), tr:nth-child(2), tr:nth-child(3){
    color: red;
}
tr:nth-child(3), tr:nth-child(5), tr:nth-child(7),tr:nth-child(9), tr:nth-child(11){
    background-color: lightgray
}

#website {
    text-align: left;
}

#input-text {
    margin-top: 20px;
    width: 100px;
    -webkit- transition: width 2s ;
   transition: width 2s ;
}
#input-text:focus{
    width: 200px;
}
#div-banner {
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin-top: 50px;
}

#one {
    background-color: red;
    transition:
}

#two {
    background-color: blue;
}

#three {
    background-color: yellow;
}

.banner-item {
    height: 300px;
    width: 400px;
    display: inline-block;
}

.controller-wrap {
    position: absolute;
    top:580px;
    left:295px
}

.controller-item {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    background: rgba(255,255,255,0.3)
}

.banner {
    position: absolute;
    transition: left .8s ease-in;
}
