*{
    font-family: Microsoft YaHei;
}
body{
    background-color: lightgray;
    margin: 0px;
    border: 0px;
    min-width: 850px;
}
#header {
    background-color: dimgray;
    height: 70px;
    border: 0px;
    margin: 0px;
}

#logo {
    background-image:url(./logo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    height: 60px;
    width: 280px;
    display: inline-block;
    margin: 15px;
    margin-left: 10%;
}
nav{
    float: right;
}
.nav-item{
    display: inline-block;
    margin: 10px 10px;

}
.nav-item>a{
    color:white;
}
article,.register{
    margin: 10px 700px 10px 10%;
    border: 2px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 2px 2px gray;
}
p{
    text-indent:2em;
}
.secondary-title,h5{
    color: gray;
}
.figure-style{

    border: 1px solid;
    border-color: gray;
    padding: 20px;
}
table{
    width: 100%;
}
th{
    background-color: black;
    color: white;
}
td{
    border: 1px solid darkgray;
    margin: 0px;
}
th,td{
    width: 40%;
}
tr>td:last-of-type{
    width: 20%;
}
tr:last-of-type{
    background-color:darkgray;
}
.register{
    top: 70px;
    position: absolute;
    right: 0;
    margin: 10px 10% 10px 10px;
    width: 450px;
}
.register>h2{
    border-left: 3px gray solid;
    padding-left: 20px;
}
.input-title{
    width: 40%;
    text-align: right;
    display: inline-block;
}
.register input,.input-title{
    margin: 7px 3px;
}
.hint{
    color: dimgray;
    margin-left: 42%;
    text-align: left;
}
.btn-submit{
    padding-left: 0px;
    background-color: dodgerblue;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
footer{
    padding-top: 20px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}
.introduce{
    text-align:
}

img{
    width: 100%;
}
